version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: gdg-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: gdgPage
      TZ: Asia/Seoul
    volumes:
      - db-data:/var/lib/mysql

  app:
    build: .
    container_name: gdg-page
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8080:8080"

volumes:
  db-data:
